<html>

<h1>welcome to project01</h1>
<h2>phase 01 --fetching data from source</h2>
<h2>phase 02 --writing a complete flow</h2>
<h2>phase 03 --usage of R language and structuring of project</h2>
<h2>phase 04 --usage of python and structuring of project</h2>
<h2>phase 05 --availabilty on mobile plateform like android</h2>
<h3>Any feedback is openly welcomed</h3>
<h3>@Auther Shubham Jaiswal</h3>
<STYLE type="text/css">
H4 {
	text-align: right
}
</STYLE>
<br>
<br>
<h4>Project review date --29 dec 2019</h4>
</html>